header {
  position: sticky;
  top: 0;
  padding: 30px;
  background: #f8f8f8;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  justify-content: center;


/*  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;*/
}